# Ignore npm node_modules
node_modules
package-lock.json

# Other files to ignore
.DS_store

# Static Images
photos/
icons/

# Fake Data CSV File
fakeData.txt
fakeDataListings.csv
fakeDataPhotos.csv

# Testing Coverage Report Files
coverage/

# Webpack bundle file
public/bundle.js

